<%
// meta
title = '初めての方';
// Breadcrumb
bread = '札幌中島公園';
bread_sec = '初めての方';
// lower page
lower = 2;
// flag
flag = 'sapporo';
// keywords
keywords = '札幌,貸会議室,格安';
// description
description = '札幌で土日の格安貸し会議室なら、格安の「週末会議室」！備品込みのわかりやすい料金体系と契約書のみで面倒な手続きが一切ありません。キャンセルや日時変更にもレスポンス良く対応させていただきます。';
page_title = 'beginner';
%>
<% include ../../common/_header %>
<div class="row">
    <aside class="sidemenu col-lg-3 col-md-12">
        <ul>
            <li class="list"><a href="#01">お申込み条件</a></li>
            <li class="list"><a href="#02">ご利用の流れ</a></li>
            <li class="li"><a href="#03" class="li-h">お支払いに<br>関しまして</a></li>
            <li class="li"><a href="#04" class="li-h">キャンセルに<br>関しまして</a></li>
            <li class="li"><a href="#05" class="li-h">持ち込みに<br>関しまして</a></li>

<!--            <li class="banner d-none d-lg-block"><a href="https://www.kaigishitu.com/" target="_blank"><img src="../../common/img/sapporo/beginner/kaigishitsu.png"></a></li>-->
<!--            <li class="banner d-none d-lg-block"><a href="https://www.spacemarket.com/" target="_blank"><img src="../../common/img/sapporo/beginner/space-market.png"></a></li>-->
<!--            <li class="banner d-none d-lg-block"><a href="https://www.instabase.jp/" target="_blank"><img src="../../common/img/sapporo/beginner/instabase.png"></a></li>-->
        </ul>
    </aside><!-- /.side -->

<main class="main<% if(page_title === 'home') { %> main--home<% } %> col-lg-9 col-md-12">
    <section class="main-section">
        <h2>Beginners</h2>
        <p class="subtitle">初めての方</p>
    </section>

    <section>
        <h3 class="title--beginner">初めての方</h3>
        <p class="text--beginner">弊社は中小企業様や個人事業主様に借りやすいビジネスに最適な貸し会議室サイトです。<br>また、下記の内容をご覧になってお問い合わせ、お申し込みをお願い致します。</p>
    </section>

    <section class="condition">
        <h3 class="title--beginner" id="01">お申込み条件</h3>
        <ul class="list-image">
            <li>法人様、又は、個人事業主様で目的がビジネス利用であること</li>
            <li>こちらの会議室は「<span class="font-color1">土</span>」「<span class="font-color2">日</span>」専用となっておりますので、平日のご利用はできません。</li>
            <li>下記注意事項にご同意いただける方</li>
        </ul>
        <ul class="condition__list">
            <li class="disc">平日は学校として運営を行っておりますので、「机」「イス」を動かすことができません。</li>
            <li class="disc">机下棚のPCに関しましは、必要な方のみお貸しさせてい頂いております。それ以外はご使用にならないでください。PCのログをとっておりますので、ご使用になられた場合には、使用料を頂きます。
                電源・ネット環境・エアコンに関しましては、ご利用いただいて構いません。ご契約時に詳細をお伝え致します。</li>
            <li class="disc">プロジェクターが見辛い場合がございます。</li>
            <li class="disc">設備・備品の破損等は、ご請求させて頂きます。</li>
            <li class="disc">トイレは各施設にございますが、環境が異なります。</li>
            <li class="disc">喫煙所の有無に関しましては各施設にて異なります。</li>
        </ul>
        <p class="foot-p"><span>※</span>安くご提供させて頂いている分、「使い辛さ」や「申し込みに際してのルール」がございますが、何卒ご了承くださいませ。</p>
    </section>

    <section class="use">
        <h3 class="title--beginner" id="02">ご利用の流れ</h3>
        <ul class="list-image2">
            <li>お電話・メール・お申し込みフォームにてお申込み頂きます。<br>
                事前見学やお見積りも行えますので、お気軽にご連絡ください。</li>
            <div class="yajirusi"><img src="../../common/img/sapporo/beginner/yajirusi.png"></div>
            <li>日程調整を行い、ご連絡させて頂きます。出来る限りご希望に添えるよう調整させて
                頂きますが、ご希望に添えない場合もございますのでご了承くださいませ。お電話の場合は
                その場で空いている日時をお伝えさせて頂きます。</li>
            <div class="yajirusi"><img src="../../common/img/sapporo/beginner/yajirusi.png"></div>
            <li>日程が決まりましたら、PDFにてご契約書をかわさせて頂きます。
                <span>※</span>メールでのやりとりも可能です。先に契約書をダウウンロードして頂き、申し込みと同時に
                添付して頂くとスムーズです。</li>
            <div class="yajirusi"><img src="../../common/img/sapporo/beginner/yajirusi.png"></div>
            <li>ご料金をお支払い頂きます。詳しくは「お支払いに関しまして」をご参照ください。</li>
            <div class="yajirusi"><img src="../../common/img/sapporo/beginner/yajirusi.png"></div>
            <li>入金確認後、ご連絡を行いご利用開始となります。</li>
        </ul>
    </section>

    <section class="payment">
        <h3 class="title--beginner" id="03">お支払いに関しまして</h3>
        <ul class="l-ul">
            <li>ご利用予定日の<span class="text-danger font-weight-bold">2週間前まで</span>は、<span class="text-danger font-weight-bold">無料</span>にてキャンセル可能です。</li>
            <li id="04">ご利用予定日の<span class="text-danger font-weight-bold">2週間前～1週間前の間</span>は<span class="text-danger font-weight-bold">50％</span>のキャンセル料を頂きます。</li>
            <li>ご利用予定日の<span class="text-danger font-weight-bold">1週間前～当日</span>までは<span class="text-danger font-weight-bold">100％</span>のキャンセル料を頂きます。</li>
        </ul>
        <div><img src="../../common/img/sapporo/beginner/table.png" width="80%" alt="例"></div>
    </section>

    <section class="bring">
        <h3 class="title--beginner" id="05">持ち込みに関しまして</h3>
        <p class="text--bring">基本的に持ち込みは可能ですが、当社にてゴミ処理が必要な場合に関しましては、別途費用をご請求させて頂きます。</p>
    </section>
</div>
<% include ../../common/_footer %>