<%
// meta
title = 'peace';
// Breadcrumb
bread = '札幌中島公園';
bread_sec = '安心のヒミツ';
// lower page
lower = 2;
// flag
flag = 'sapporo';
// keywords
keywords = '札幌,貸会議室,格安';
// description
description = '札幌で土日の格安貸し会議室なら、格安の「週末会議室」！中小企業様や個人事業主様への貸し出しをメインとしており、もちろん大企業様や大勢でのご利用も可能です。ビジネス用途のご利用を目的としておりますので、お互いに安心してご利用できるシステムが魅力の一つです。';
%>
<% include ../../common/_header %>
<div class="row">
    <aside class="sidemenu col-lg-3 col-md-12">
        <ul>
            <li class="list"><a href="#" class="s-menu">安心のヒミツ</a></li>
            <li class="banner d-none d-lg-block"><a href="#"><img src="../../common/img/sapporo/beginner/kaigishitsu.png"></a></li>
            <li class="banner d-none d-lg-block"><a href="#"><img src="../../common/img/sapporo/beginner/space-market.png"></a></li>
            <li class="banner d-none d-lg-block"><a href="#"><img src="../../common/img/sapporo/beginner/instabase.png"></a></li>
        </ul>
    </aside><!-- /.side -->

<main class="main<% if(title == 'home') { %> main--home<% } %> col-lg-9 col-md-12">
    <section class="main-section">
        <h2>Peace of mind</h2>
        <p class="subtitle">安心のヒミツ</p>
    </section>

    <section>
        <h3 class="title--beginner">安心のヒミツ　<span class="font">～3つの安心～</span></h3>
        <ol>
            <li class="bold">法人主様・個人事業主様への貸し出し</li>

            <p>弊社は<span class="text-danger">法人様・個人事業主様</span>に貸し会議室をご提供させて頂いております。</p>
            <p>ご利用する<span class="text-danger">お客様の目的がビジネス利用</span>であり、最低限のルールを守って頂きながら</p>
            <p>運営しております。そのために、お安い料金で安心してご利用頂けるサービスをご提供</p>
            <p>する事ができます</p>

            <li class="bold">土日限定</li>

            <p>平日は学校として運営を行っておりますので、<span class="text-danger">運営が土日に限られてしまいます。</span></p>
            <p>	その中で、<span class="text-danger">1ヶ月の利用日数がMAX8日</span>と少ない日数の管理を行っているため、</p>
            <p><span class="text-danger">予約管理が煩雑にならず安心して管理を行うことができます。</span></p>

            <li class="bold">明確な料金体系</li>
        </ol>
        <div class="peace__flex">
            <ul>
                <li>1日(9:00～17:00)</li>
                <li>午前のみ(9:00～12:00)</li>
                <li>午後のみ(13:00～17:00)</li>
            </ul>
            <p class="icon-p">左記のシンプルな3つの時間により、<br>シンプルで明確な料金体系が実現されています。
            </p>
        </div>
    </section>
</div>
<% include ../../common/_footer %>