<%
// meta
title = 'utilization';
// Breadcrumb
bread = '札幌中島公園';
bread_sec = '活用イメージ';
// lower page
lower = 2;
// flag
flag = 'sapporo';
// keywords
keywords = '札幌,貸会議室,格安';
// description
description = '札幌で土日の格安貸し会議室なら、格安の「週末会議室」！10室の会議室から選択可能で、中小企業様や個人事業主様のセミナー・ミーティングなどに最適です。備品込みのわかりやすい料金体系も魅力の一つです。';
%>
<% include ../../common/_header %>
<div class="row">
    <aside class="sidemenu col-lg-3 col-md-12">
        <ul>
            <li class="list"><a href="#">活用イメージ</a></li>
            <li class="banner d-none d-lg-block"><a href="https://www.kaigishitu.com/" target="_blank"><img src="../../common/img/sapporo/beginner/kaigishitsu.png"></a></li>
            <li class="banner d-none d-lg-block"><a href="https://www.spacemarket.com/" target="_blank"><img src="../../common/img/sapporo/beginner/space-market.png"></a></li>
            <li class="banner d-none d-lg-block"><a href="https://www.instabase.jp/" target="_blank"><img src="../../common/img/sapporo/beginner/instabase.png"></a></li>
        </ul>
    </aside><!-- /.side -->

<main class="main<% if(title == 'home') { %> main--home<% } %> col-lg-9 col-md-12">
    <section class="main-section">
        <h2>Utilization image</h2>
        <p class="subtitle">活用イメージ</p>
    </section>

    <section>
        <h3 class="title--beginner">活用イメージ</h3>
        <div class="image-list">
            <div class="mennsetu">
                <img src="../../common/img/sapporo/utilization/mennsetu2.png" width="100%">

                <p>集団面接や説明会などの用途に最適です。広さも整っており、中小企業向けです。</p>
                <img src="../../common/img/sapporo/utilization/mennsetu.jpg" width="100%">
            </div>

            <div class="semina">
                <img src="../../common/img/sapporo/utilization/semina2.png" width="100%">
                <p>少人数のセミナーに最適です。単独でご活躍されている方などはご相談ください。</p>
                <img src="../../common/img/sapporo/utilization/semina.jpg"  width="100%"></div>

            <div class="benkyou">
                <img src="../../common/img/sapporo/utilization/benkyou2.png" width="100%">
                <p>社内での簡単な勉強会やチームMTGなどのご使用に最適です。お気軽にご相談下さい。</p>
                <img src="../../common/img/sapporo/utilization/benkyou.jpg"  width="100%"></div>

            <div class="utiawase">
                <img src="../../common/img/sapporo/utilization/utiawase2.png" width="100%">
                <p>集団面接や説明会などの用途に最適です。広さも整っており、中小企業向けです。</p>
                <img src="../../common/img/sapporo/utilization/utiawase.jpg"  width="100%"></div>
        </div>
    </section>
    </div>
<% include ../../common/_footer %>