<%
// meta
title = 'home';
// lower page
lower = 0;
// keywords
keywords = '札幌,北海道,貸会議室,貸し会議室,レンタル会議室,レンタルスペース,レンタル,会議室,格安';
// description
description = '札幌で土日の格安貸し会議室なら、「週末会議室」がお得です。札幌最安値で備品込みの金額なのでわかりやすい料金体系が魅力で、中小企業様のセミナーや勉強会、面接などにも有効な手段としてお気軽にご活用ください。';
%>
<% include common/_header %>

<ul class="row">
    <li class="col-lg-6 home__list">
        <a href="./sapporo/" target="_blank">札幌中島公園<span>地下鉄中島公園 徒歩1分</span></a>
    </li>
    <li class="col-lg-6 home__list">
        <a href="./nagoya/" target="_blank">名古屋今池<span>地下鉄今池駅 徒歩5分</span></a>
    </li>
</ul>

<% include common/_footer %>