<%
// meta
title = '土日限定の格安貸会議室';
// lower page
lower = 0;
// keywords
keywords = '貸会議室,レンタル会議室,格安';
// description
description = '土日の格安貸し会議室なら、地域最安値の「週末会議室」！備品込みのわかりやすい料金体系が魅力で、中小企業様のセミナーやミーティング、面接などにも有効な手段としてぜひお気軽にご活用ください。';
// page
page_title = 'home';
%>
<% include common/_header %>

<ul class="row">
    <li class="col-lg-6 home__list">
        <a href="./sapporo/" target="_blank">札幌中島公園<span>地下鉄中島公園 徒歩1分</span></a>
    </li>
    <li class="col-lg-6 home__list">
        <a href="./nagoya/" target="_blank">名古屋今池<span>地下鉄今池駅 徒歩5分</span></a>
    </li>
</ul>

<% include common/_footer %>