<%
// meta
title = '施設案内/料金';
// Breadcrumb
bread = '名古屋今池';
bread_sec = '施設案内/料金';
// lower page
lower = 2;
// flag
flag = 'nagoya';
// keywords
keywords = '名古屋,貸会議室,格安';
// description
description = '名古屋で土日の格安貸し会議室なら、格安の「週末会議室」！わかりやすい料金体系が魅力の一つで、突然のご利用にもレスポンス良く対応させていただきます。1日・午前・午後の３種類の料金体系で備品も全て込みとなっておりますので、お気軽にご利用ください。';
page_title = 'information';
%>
<% include ../../common/_header %>
<div class="row">
    <aside class="sidemenu col-lg-3 col-md-12 sidemenu--nagoya">
    <ul id="btn">
        <li class="list"><a href="#">801</a></li>
        <li class="list"><a href="#">802</a></li>
        <li class="list"><a href="#">803</a></li>
        <li class="list"><a href="#">804</a></li>
        <li class="list"><a href="#">805</a></li>
    </ul>
    <ul>
        <li class="banner d-none d-lg-block"><a href="https://www.kaigishitu.com/" target="_blank"><img src="../../common/img/sapporo/beginner/kaigishitsu.png"></a></li>
        <li class="banner d-none d-lg-block"><a href="https://www.spacemarket.com/" target="_blank"><img src="../../common/img/sapporo/beginner/space-market.png"></a></li>
        <li class="banner d-none d-lg-block"><a href="https://www.instabase.jp/" target="_blank"><img src="../../common/img/sapporo/beginner/instabase.png"></a></li>
        <li class="banner d-none d-lg-block"><a href="https://www.nipponkaigishitsu.com/nagoya/" target="_blank"><img src="../../common/img/sapporo/beginner/nihon_kaigishitsu.png"></a></li>
    </ul>
</aside><!-- /.side -->

    <main class="main<% if(page_title === 'home') { %> main--home<% } %> col-lg-9 col-md-12">
    <section class="main-section">
        <h2>Facility information/Fee</h2>
        <p class="subtitle">施設案内/料金</p>
    </section>

    <section>
        <h3 class="title--beginner">各室案内<span>※表記の金額は全て税込みです。</span></h3>
        <div class="row">
            <div class="col-lg-7 col-sm-12 mb-4" id="slide">
                <ul class="slick01">
                    <li><img src="../../common/img/nagoya/info/z801.jpg" alt="801図面"></li>
                    <li><img src="../../common/img/nagoya/info/801.jpg" alt="801写真"></li>
                    <li><img src="../../common/img/nagoya/info/projector.jpg" alt="プロジェクター"></li>
                </ul>
                <ul class="slick02">
                    <li><img src="../../common/img/nagoya/info/z802.jpg" alt="802図面"></li>
                    <li><img src="../../common/img/nagoya/info/802.jpg" alt="802写真"></li>
                    <li><img src="../../common/img/nagoya/info/projector.jpg" alt="プロジェクター"></li>
                </ul>
                <ul class="slick03">
                    <li><img src="../../common/img/nagoya/info/z803.jpg" alt="803図面"></li>
                    <li><img src="../../common/img/nagoya/info/803.jpg" alt="803写真"></li>
                    <li><img src="../../common/img/nagoya/info/projector.jpg" alt="プロジェクター"></li>
                </ul>
                <ul class="slick04">
                    <li><img src="../../common/img/nagoya/info/z804.jpg" alt="804図面"></li>
                    <li><img src="../../common/img/nagoya/info/804.jpg" alt="804写真"></li>
                    <li><img src="../../common/img/nagoya/info/projector.jpg" alt="プロジェクター"></li>
                </ul>
                <ul class="slick05">
                    <li><img src="../../common/img/nagoya/info/z805.jpg" alt="805図面"></li>
                    <li><img src="../../common/img/nagoya/info/805.jpg" alt="805写真"></li>
                    <li><img src="../../common/img/nagoya/info/projector.jpg" alt="プロジェクター"></li>
                </ul>
            </div>
            <div class="col-lg-5 col-sm-12">
                <section>
                    <h4 class="Bcolor-green">基本情報</h4>
                    <p>人数:約30名</p>
                    <div class="area">
                        <p class="active">広さ:51.67㎡ （15.63坪）</p>
                        <p>広さ:51.93㎡ （15.70坪）</p>
                        <p>広さ:54.19㎡ （16.39坪）</p>
                        <p>広さ:60.68㎡ （18.25坪）</p>
                        <p>広さ:49.61㎡ （15.00坪）</p>
                    </div>
                    <p>■設備■</p>
                    <p>ネット環境/テーブル/ホワイトボード/プロジェクター/イス(20台)/エアコン/電源/トイレ/喫煙所</p>
                    <p class="Bcolor-green">8時間</p>
                    <div class="flex">
                        <div>9:00～17:00 </div>
                        <div class="text-danger font-weight-bold">￥30,000</div>
                    </div>
                    <p class="Bcolor-green">3時間</p>
                    <div class="flex">
                        <div>9:00～12:00</div>
                        <div class="text-danger font-weight-bold">￥13,000</div>
                    </div>
                    <p class="Bcolor-green">4時間</p>
                    <div class="flex">
                        <div>13:00～17:00</div>
                        <div class="text-danger font-weight-bold">￥20,000</div>
                    </div>
                    <div class="omousikomi"><a href="../contact/">お申し込み</a></div>
                </section>
            </div>
        </div>
    </section>
    </div>
<% include ../../common/_footer %>