<%
// meta
title = 'nagoya';
// Breadcrumb
bread = 'NAGOYA';
// lower page
lower = 1;
// flag
flag = 'nagoya';
// keywords
keywords = '名古屋,貸会議室,格安';
// description
description = '名古屋で土日の格安貸し会議室なら、格安の「週末会議室」！地下鉄今池駅から徒歩5分で交通の利便性も抜群です。中小企業様や個人事業主様のセミナーやミーティング、面接などにも有効な手段としてぜひお気軽にご活用ください。';
%>
<% include ../common/_header %>
<main class="main<% if(title == 'home') { %> main--home<% } %>">
    <div class="viewer">
        <ul>
            <li><a href="info/"><img src="../common/img/nagoya/index/top_pic_01.png" alt="名古屋最安値の貸会議室"></a></li>
            <li><a href="beginner/"><img src="../common/img/nagoya/index/top_pic_02.png" alt="初めての方はこちらをご覧ください。"></a></li>
            <li><a href="https://twitter.com/nagoyaimaike" target="_blank"><img src="../common/img/nagoya/index/top_pic_03.png" alt="週末会議室twitter"></a></li>
        </ul>
    </div><!--/.viewer-->
    </div>

<div class="container-fluid">
<section class="view">
    <div class="container">
        <h2 class="view__title">Conference Room Information</h2>
    </div>
    <div class="slider02">
        <div class="slide">
            <ul class="slideInner">
                <li><a href="info/"><img src="../common/img/nagoya/index/801s.jpg" alt="801"></a></li>
                <li><a href="info/"><img src="../common/img/nagoya/index/802s.jpg" alt="802"></a></li>
                <li><a href="info/"><img src="../common/img/nagoya/index/803s.jpg" alt="803"></a></li>
                <li><a href="info/"><img src="../common/img/nagoya/index/804s.jpg" alt="804"></a></li>
                <li><a href="info/"><img src="../common/img/nagoya/index/805s.jpg" alt="805"></a></li>
            </ul>
            <div class="slidePrev"></div>
            <div class="slideNext"></div>
        </div><!--/.slide-->
    </div><!--/.slider02-->
</section>
</div>
<% include ../common/_footer %>