/* ----------------------------------
6.0 - Footer
---------------------------------- */

.smooth {
  position: fixed;
  bottom: 2%;
  right: 2%;
  > a {
    display: inline-block;
    > img {
      width: 4vw;
    }
  }
}

.footer {
  background-color: #7AC943;
  padding-top: 20px;
}

.footer__item > a {
  color: white;
  font-size: 0.9rem;
}

.footer__copyright {
  color: white;
  line-height: 50px;
  text-align: center;
  @media (max-width: 640px) {
    line-height: 1.5;
  }
}
