/* ----------------------------------
3.0 - Nav
---------------------------------- */

.navbar {
  margin-bottom: 2px;
}

.navbar-brand {
  margin-right: auto;
  @media (max-width: 480px) {
    width: 70%;
  }
  > img {
    width: 80%;
    @media (max-width: 480px) {
      width: 70%;
    }
  }
}

.navbar-dark .navbar-toggler {
  color: rgba(255,255,255,1);
  border-color: rgba(255,255,255,1);
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-hidden {
  display: none;
  @media (max-width: 991px) {
    display: block;
  }
}

.navbar-toggler {
  @media (max-width: 480px) {
    padding: 0;
  }
}

.nav {
  display: block;
  box-sizing: border-box;
  margin: 20px 0;
  .home & {
    display: none;
  }
  > .nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    //width: 80%;
    > .nav__item {
      margin: 0;
      padding: 0;
      width: 14%;
      &:first-child {
        width: 8%;
      }
      &:last-child {
        width: 22%;
      }
      > a {
        color: black;
        display: block;
        font-size: 1.2vw;
        font-weight: bold;
        line-height: 1.5;
        padding: 10px 0;
        text-decoration: none;
        text-align: center;
        width: 100%;
        &:hover {
          color: white;
          background-color: #FF931E;
        }
        &.active {
          line-height: 1.5;
          color: white;
          background-color: #FF931E;
        }
      }
    }
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.navbar>.container, .navbar>.container-fluid {
  @media (max-width: 500px) {
    flex-wrap: nowrap;
  }
}

.drawer-nav {
  background: #cfcfcf;
  display: none;
  padding: 120px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 90;
}

.drawer-menu {
  font-size: 3.6rem;
  line-height: 1.7;
  > li {
    text-align: center;
    > a {
      color: white;
    }
  }
}

.sns-icon {
  margin-right: 15px;
  display: none;
  @media (max-width: 991px) {
    display: block;
  }
}

.sns-icon__list {
  display: flex;
}

.sns-icon__item {
  > a {
    color: white;
  }
  &:first-child {
    margin-right: 10px;
  }
}

