/* ----------------------------------
21.0 - Utilization
---------------------------------- */

.image-list {
  display: flex;
  font-size: 1.4vw;
  margin-top: 2%;
}

.mennsetu {
  width: 22%;
}

.semina {
  width: 22%;
  margin-left: 4%;
}

.benkyou {
  width: 22%;
  margin-left: 4%;
}


.utiawase {
  width: 22%;
  margin-left: 4%;
}